<h1><%= current_user.email%>'s Profile</h1>



<%= form_with(model: @profile) do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.label :position %>
    <%= form.select :position, options_for_select(["Keeper", "Midfield", "Defender", "Forward"],@profile.position) %>
    <%= image_tag @profile.pic.attached? ? @profile.pic : "https://i.imgur.com/VffWbcl.png",
        width: 250,
        height: 250,
        style: "border-radius:100%; object-fit:cover;" %>
    <div>
      <%= form.label :pic %>
      <%= form.file_field :pic %>
    </div>
    <%= form.submit %>
<% end %>