<h1><%= @profile.name.capitalize.pluralize %> Profile</h1>

<div>
  <%= image_tag @profile.pic.attached? ? @profile.pic : "https://i.imgur.com/VffWbcl.png",
      width: 200,
      height: 200,
      style: "border-radius:100%; object-fit:cover;" %>
</div>
<p><%= @profile.name.capitalize %> likes to play <%= @profile.position %></p>
<%= link_to "Edit Profile", edit_profile_path(current_user), :class => "btn btn-primary"  %>

<h1><%= @profile.name.capitalize.pluralize %> Events</h1>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Location</th>
      <th>City</th>
      <th>Game Type</th>
    </tr>
  </thead>
  <tbody>
    <% @profile.reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.event.date %></td>
        <td><%= reservation.event.time.strftime("%_I:%M:%p") %></td>
        <td><%= reservation.event.location.name %></td>
        <td><%= reservation.event.location.city %></td>
        <td><%= reservation.event.field.game_type.to_s+" v "+reservation.event.field.game_type.to_s  %></td>
      </tr>
    <% end %>
  </tbody>
</table>