
<%= react_component 'Search' %>

<h1><%= 'Locations' %></h1>
<%= render 'locations/locations_table', locations: @locations %>

<h1><%= 'Events' %></h1>
<%= render 'events/events_home_table', events: @events.today %>
