<div class="container" align="center">
<%= react_component 'Search' %>

<!-- <%= react_component 'Locations' %> -->
<%= request.location.city %>

<h1><%= 'Events' %></h1>
<%= render 'events/events_home_table', events: @events.today %>
</div>
