<div class='event-filter'>
  <%= link_to "Prev Day",
      location_events_path(date: Date.parse(params[:date])-1),
      class: "btn btn-default btn-arrow-left",
      id: 'date-prev-day' %>
  <span><%= params[:date] || Date.current %></span>
  <%= link_to "Next Day",
      location_events_path(date: Date.parse(params[:date])+1),
      class: "btn btn-default btn-arrow-left",
      id: 'date-prev-day' %>


</div>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Location</th>
      <th>City</th>
      <th>Game Type</th>
      <th>Price</th>
      <th>Current Players</th>
      <th>Spots Available</th>
      <th>Total Spots</th>
      <th>Reserve</th>
    </tr>
  </thead>
  <tbody>
    <% events.each do |event| %>
      <tr>
        <td><%= event.date %></td>
        <td><%= event.time.strftime("%_I:%M %p") %></td>
        <td><%= event.location.name %></td>
        <td><%= event.location.city %></td>
        <td><%= event.field.game_type.to_s+" v "+event.field.game_type.to_s  %></td>
        <td><%= number_to_currency(event.price/100) %></td>
        <td><%= event.reservations.count %></td>
        <td><%= (event.field.game_type*2)-event.reservations.count %></td>
        <td><%= event.field.game_type*2 %></td>
        <td>
            <% if event.reservations.find_by(user: current_user) %>
              <p class="btn btn-success">Reserved</p>
            <%else%>
              <%= form_for([event.location, event, Reservation.new]) do |form| %>
                <%= submit_tag "Reserve", class: "btn btn-primary"%>
              <% end %>
            <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>


