<table class="table">
  <thead>
    <tr>
      <th><%= "Date" %></th>
      <th><%= "Time" %></th>
      <th><%= "Location"%></th>
      <th><%= "City" %></th>
      <th><%= "Game Type" %></th>
      <th><%= "Price" %></th>
      <th><%= "Reserve" %></th>
    </tr>
  </thead>
  <tbody>
    <% events.order(:time).each do |event| %>
      <tr>
        <td><%= event.date %></td>
        <td><%= event.time.strftime("%I:%M") %></td>
        <td><%= event.location.name %></td>
        <td><%= event.location.city %></td>
        <td><%= event.field.game_type.to_s+" v "+event.field.game_type.to_s  %></td>
        <td><%= number_to_currency(event.price/100) %></td>
        <td>
          <div class="btn-group mb-2 btn btn-secondary btn-lg">
            <%= link_to "Reserve", location_event_path(event.location, event) %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


