<div class='event-filter'>
  <%= link_to "Prev Day",
      location_events_path(date: Date.parse(params[:date])-1),
      class: "btn btn-primary btn-arrow-left",
      id: 'date-prev-day' %>
  <span><%= params[:date] || Date.current %></span>
  <%= link_to "Next Day",
      location_events_path(date: Date.parse(params[:date])+1),
      class: "btn btn-primary btn-arrow-left",
      id: 'date-prev-day' %>

</div>
<% if events.empty? %>
  <p>No Events Available for Selected Date</p>
<% else %>
  <div class="table-container">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Game Type</th>
        <th>Price</th>
        <th>Current Players</th>
        <th>Spots Available</th>
        <th>Total Spots</th>
        <th>Reserve</th>
      </tr>
    </thead>
    <tbody>

        <% events.each do |event| %>
          <tr>
            <td><%= event.date %></td>
            <td><%= event.time.strftime("%_I:%M %p") %></td>
            <td><%= event.field.game_type.to_s+" v "+event.field.game_type.to_s  %></td>
            <td><%= number_to_currency(event.price/100) %></td>
            <td>
            <% event.reservations.each do |res| %>
              <%= link_to profile_path(res.user) do %>
                <%= image_tag res.user.profile.pic,
                  width: 25,
                  height: 25,
                  style: "border-radius:100%; object-fit:cover;" %>
              <% end %>
            <% end %>

            </td>
            <td><%= (event.field.game_type*2)-event.reservations.count %></td>
            <td><%= event.field.game_type*2 %></td>
            <td>
              <% if event.reservations.count ==  event.field.game_type * 2 %>
                <button class="btn btn-outline" disabled>Unavailable</button>
              <% else %>
                <% if event.reservations.find_by(user: current_user) %>
                  <button class="btn btn-success" disabled>Reserved</button>
                <%else%>
                  <%= form_for([event.location, event, Reservation.new]) do |form| %>
                    <%= button_tag "Reserve", class: "btn btn-primary"%>
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-description="Reserve your field!"
                      data-amount="1000"
                      data-locale="auto"></script>
                  <% end %>  <%# button_tag %>
                <% end %>
              <% end %>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>



