<div class="card-container">
  <% events.current_date.event_open.ordered_players.first(30).sample(9).each do |event| %>
    <div class="event-card">
      <%= link_to location_event_path(event.location.id, event) do %>
        <div>
          <div id="heading"><%= event.location.name %></div>
          <hr/>
          <div><%= event.datetime.strftime("%m/%d/%Y") %></div>
          <div><%= event.datetime.strftime("%l:%M %p") %></div>
          <div><%= event.location.city %></div>
          <div><%= event.field.game_type.to_s+" v "+event.field.game_type.to_s  %></div>
          <div><%= number_to_currency(event.price/100) %></div>
          <div>
            <% event.reservations.each do |res| %>
            <%= link_to profile_path(res.user) do %>
              <% if res.user.profile.pic.attached? %>
                <%= image_tag res.user.profile.pic,
                    width: 20,
                    height: 20,
                    style: "border-radius:100%; object-fit:cover;" %>
              <% end %>
            <% end %>
            <% end %>
          </div>
          <div>Spots Available: <%= (event.field.game_type*2)-event.reservations.count %>/<%= event.field.game_type*2 %></div>
          </div>
          <div class="button-container">
          <div >
            <%= render 'events/reserve_button', event: event %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
