
<p><%= @event.time.strftime("%I:%M") %></p>
<p><%= @event.field.location.name %></p>
<p><%= @event.field.location.city %></p>
<p><%= @event.field.game_type.to_s+" v "+@event.field.game_type.to_s  %></p>
<p><%= number_to_currency(@event.price/100) %></p>



